h1 {
  text-transform: uppercase;
  line-height: 3rem;
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
i {
  display: block;
  line-height: 27px;
}
#home {
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.banner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  opacity: 0.75;
}
.banner figure {
  display: block;
  margin: 0;
  background-image: url("https://www.w3schools.com/w3images/parallax1.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.banner span {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 200px);
  width: 414px;
  height: 50px;
  background-color: #6c9a8b;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  letter-spacing: 10px;
}

#about,
#portofilo__work,
#contact__details {
  padding: 64px 0;
  text-align: center;
  width: 62rem;
  margin-left: auto;
  margin-right: auto;
}

#about i {
  margin: 15px;
}
#about article > p {
  justify-content: center;
  text-align: start;
}
#about__details {
  display: flex;
  margin: 2rem 0;
}
#about__details > figure {
  padding: 12px;
}
#about__details > figure > p {
  font-weight: 600;
  margin: 15px;
}
#about__details > figure > p > i {
  margin: 0 15px;
}
#about__details > figure img {
  width: 425px;
  height: 283px;
  border-radius: 5px;
  margin: 0 12px;
}
#about__details > figure img:hover {
  opacity: 0.7;
}
#about__details > p {
  padding: 12px;
  margin: 18px 0;
  text-align: start;
}

#about__skills ul {
  list-style: none;
}
#about__skills ul li {
  margin: 1rem 0;
}
#about__skills ul li p {
  text-align: start;
  letter-spacing: 15px;
}
#about__skills ul li:first-child .progress__bar {
  width: 90%;
}
#about__skills ul li:nth-child(2) .progress__bar {
  width: 85%;
}
#about__skills ul li:nth-child(3) .progress__bar {
  width: 75%;
}

#about__skills > p {
  display: block;
  font-size: 18px;
}
.progress {
  position: relative;
  width: 100%;
  height: 35px;
  background-color: #6c9a8b;
}

.progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e8998d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#statistics {
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding: 16px;
  background-color: #6c9a8b;
  align-items: center;
}
#statistics p {
  color: white;
}
#statistics p:first-child {
  font-size: 24px;
  line-height: 43px;
}

#statistics div {
  text-align: center;
}

#portfolio figure img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#portfolio .banner figure {
  background-image: url("https://www.w3schools.com/w3images/parallax2.jpg");
}

#portofilo__work div {
  margin-top: 20px;
  margin-bottom: 20px;
}
#portofilo__work div img {
  width: 24%;
  padding: 5px;
  box-sizing: border-box;
}
#portofilo__work div img:hover {
  opacity: 0.7;
  cursor: pointer;
}
#portofilo__work button {
  margin-top: 50px;
  padding: 12px 24px;
  text-transform: uppercase;
  border: unset;
  color: #000;
  cursor: pointer;
}
#contact .banner figure {
  background-image: url("https://www.w3schools.com/w3images/parallax3.jpg");
}
#contact .banner span,
#portfolio .banner span {
  color: white;
  font-size: 36px;
  background-color: transparent;
}

#contact__details > div {
  display: flex;
  text-align: start;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#contact__details aside {
  width: 30%;
  padding: 16px;
}
#contact__details aside:nth-child(2) {
  width: 65%;
  margin: 16px 0;
}

#contact__details aside p {
  font-size: 18px;
  color: #777777;
  margin-left: 8px;
}

#contact__details aside div p i {
  margin-right: 16px;
  font-size: 20px;
}
#contact__details aside > p {
  font-size: 15px;
  margin: 8px;
}

#contact__details img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#contact__details form input {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
  margin: 5px 8px;
  border: 1px solid #ccc;
}
#contact__details form > input {
  width: calc(100% - 16px);
}
#contact__details form div {
  display: flex;
  justify-content: space-between;
}

#contact__details button {
  color: white;
  background-color: #6c9a8b;
  border: unset;
  float: right;
  padding: 8px 16px;
  text-transform: uppercase;
  margin: 8px;
}
#contact__details button i {
  margin-right: 8px;
  color: white;
}
#contact__details button:hover {
  color: #000;
  background-color: #e8998d;
}

#zoom {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#zoom #zoom__exit-btn {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 30px;
  cursor: pointer;
}

#zoom #zoom__picture {
  width: 30%;
  height: auto;
  position: absolute;
  top: 25%;
  left: 35%;
}
#zoom__text {
  display: block;
  width: 100%;
  position: absolute;
  top: 75%;
  left: 0;
  text-align: center;
  color: white;
  font-size: 18px;
}
